/* Estilos de Backgrounds */
.bggris01 {background-color: #DFDFDF; } 
.bggris02 {background-color: #EFEFEF; } 
.bggris03 {background-color: #333333; }
.bggris04 {background-color: #9899A2; }
.bgverde01 {background-color: #98A706; }

/* Estilos de Fuentes */
.menuFntLanguage {font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: #EFEFEF; text-transform: uppercase; text-decoration: none;}
.menuFntTexto {font-family: Arial, Helvetica, sans-serif;font-size: 7pt;text-decoration: none; color: #000; text-transform: uppercase; font-weight: bold;}
.homeFntBoxText {font-family: verdana, Helvetica, sans-serif; font-size: 11px; line-height: 21px;color: #595959; text-decoration: none; padding-top: 4px; padding-bottom: 4px;}
.globalFntFooterText {font-family: verdana; font-size: 8pt; color: #414141; text-decoration: none;}
.globalFntBoxTitle {font-family: "Trebuchet Ms"; font-size: 12pt; font-weight: bold; color: #98A706; text-decoration: none; padding-left: 5px;}
.globalFntBoxText {font-family: verdana; font-size: 8pt; color: #999999; line-height: 14px; text-decoration: none; }
.globalFntBodyTitle {font-family: Arial; font-size: 13pt; color: #98A706; text-transform: uppercase; font-weight: bold;}
.globalFntBodyText {font-family: verdana; font-size: 8pt; color: #595959; line-height: 21px;}

/* Estilos de Colores */
.color01 {color: #98A706; }
.color02 {color: #66542E; }
.color03 {color: #4A4D5A; }

/* Estilos de Formularios */
.formInputField {font-weight: normal;font-size: 9pt;color: #98a706;font-family: arial;text-decoration: none;}
.formInputText {font-size: 9pt; background: #f3f3f3; margin: 1px; vertical-align: top; width: 290px; color: #4d4d4d; font-family: arial;padding: 1px;border: 1px solid #666666;}

.dashedRightBorder {border-right-style: dotted ; border-right-color: #595959; border-right-width: 2px;}

.templateFntSubmenu2 {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #66542E; text-decoration: none;}
.templateFntSubmenu2:hover {text-decoration: underline;}

.templateFntSubmenu3 {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #4A4D5A; text-decoration: none;}
.templateFntSubmenu3:hover {text-decoration: underline;}